.item__wrapper {
    background-color: #746c00;
    grid-area: 2 / 2 / 3 / 3;
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    float: right;
}

.titleProject{
    font-size: 40px;
    margin: 0px;
}

.IMG1{
    width: 350px;
}